<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tju.myproject.dao.ArticleDao">
    <resultMap id="domainMap" type="com.tju.myproject.entity.Domain">
        <result column="id" property="id"/>
        <result column="domain" property="domain"/>
    </resultMap>
    <resultMap id="topicMap" type="com.tju.myproject.entity.Topic">
        <result column="id" property="id"/>
        <result column="domain_id" property="domainID"/>
        <result column="topic" property="topic"/>
    </resultMap>
    <select id="getDomains" resultMap="domainMap">
        SELECT *
        FROM domain 
    </select>
    <select id="getTopicsByDomainID" resultMap="topicMap">
        SELECT *
        FROM topic
        WHERE domain_id=#{domainID}
    </select>
</mapper>